.trade-container {
    background-color: rgb(243, 245, 247);
    padding: 100px;
}

.trade-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tradeLeft h2 {
    font-weight: bolder;
}

.tradeLeft p {
    font-size: small;
}

.tradeLeftLink {
    display: flex;
    gap: 1rem;
    margin: 50px 0px;
}

.tradeEasy {
    width: 30%;
}

.tradeAlways {
    width: 30%;
}

.tradeRight {
    margin-right: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 40rem;
}


/* media query */

@media only screen and (max-width: 768px) {
    .trade-container {
        width: 100vw;
        display: flex;
        padding: 10px;
        position: relative;
    }
    .tradeLeftLink {
        width: 96vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .tradeRight {
        width: 50vw;
        margin-left: 5rem;
        padding: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset !important;
    }
    .tradeLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tradeRight img {
        width: 50%;
        position: absolute;
        top: 60%;
    }
    .trade-wrapper {
        display: flex;
        flex-direction: column;
    }
}