.hub-container {
    background-color: rgb(243, 245, 247);
    padding: 100px;
}

.hubHeading {
    display: flex;
    justify-content: space-between;
}

.hubText {
    width: 650px;
}

.hubLinks {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 400px;
    position: relative;
}

.headingLink a {
    text-decoration: none;
}

.hubLinks a {
    text-decoration: none;
    color: black;
}

.hubLinks>.active {
    color: #fff;
    background-color: black;
    border-radius: 20px;
    padding: 0px 10px;
}

.mini {
    position: absolute;
    top: 20;
    font-size: 10px;
}

.hubCardWrapper {
    display: flex;
    margin-top: 20px;
}

.finance {
    background-color: rgb(202, 202, 239);
    border-radius: 10px;
    text-decoration: none;
    padding: 0px 10px;
    font-size: small;
}

.hubCardImage img {
    width: 100%;
}

.hubcardRead a {
    text-decoration: none;
}

.hubCardOne {
    background-color: #fff;
    margin: 10px 20px 10px 0px;
    padding: 20px;
    border-radius: 30px;
}

.hubCardText {
    padding: 20px 0px;
}


/* Media Query */

@media only screen and (max-width: 768px) {
    .hub-container {
        width: 100vw;
        padding: 5rem 1rem;
    }
    .hubText {
        width: 96vw;
        padding: 0.5rem;
    }
    .hubLinks {
        width: 96vw;
        gap: 0.4rem;
        padding: 10px;
    }
    .mini {
        display: none;
    }
    .hubCardWrapper {
        display: flex;
        flex-direction: column;
    }
}